
.content-kpis {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    gap: 16px;
}


.dash-card {
    padding: 8px 12px;
    border: 1px solid #1C1C22;
    border-radius: 10px;
    background-color: #141418;
}

.kpi {
    /* height: fit-content; */
    width: 100%;

    /* display: flex;
    flex-direction: column; */
    gap: 0;
}

.dash-card.kpi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* padding: 14px 18px; */
  height: fit-content; /* <- isso resolve o vazamento */
}

.card-resume span {
    color: #4D4D4D;
    font-family: 'DM_Mono', 'Syne', sans-serif;
    font-size: 14px;

    margin-bottom: 0;
}

.kpi-mensagem {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: center;

    width: 100%;

}

.kpi-main-data {
    font-family: 'DM_Serif_Display', sans-serif;
    font-size: 3.5em;
    font-weight: 200;
    margin: 0;
    line-height: 0.7;
}

.kpi-mensagem span {
    color: #A26300;
    
}

#kpi-concluidos, #kpi-conclusao, #kpi-horas, #kpi-semanal {
    color: white;
}

.content-graphics {
    display: flex;
    flex-direction: column;

    margin: 16px 0;
    gap: 16px;
}

.graphics {
    display: flex;
    flex-direction: row;

    height: 100%;
    gap: 16px;
}

.dash-card {
    padding: 24px;
}

.dash-main-data {
    font-family: 'DM_Serif_Display', sans-serif;
    font-size: 2.0em;
    font-weight: 200;
    font-style: italic;
    margin: 0;
    line-height: 0.9;
}

.subtitle-card {
    font-family: DM_Mono, Syne, sans-serif;
    font-weight: 800;
    font-size: 0.9em;
    color: #4D4D4D;

}


/* #metas-do-ano {
    width: 130vw;
} */

#consumo-anual {
    width: 130vw;
}