
.chart {
    width: 100%;
}

canvas {
    /* width: 100%; */
    /* height: auto; */
}
/* 
.chart-donut {
    height: 300px;
} */
#grafico-donut {
    height: 200px;
}

/* #horizontal-bar-chart {

} */