
.navbar-logo img {
    margin-top: 10px;
    height: 30px;

    user-select: none;
}

.btn-cadastro-div {
    display: flex;
    flex-direction: row;

    margin: 10px 0 20px 0;
    justify-content: center;
    align-items: center;
}

.btn-cadastro {
    background-color: #A26300;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    padding: 10px 36px;
    cursor: pointer;
    transition: 0.3s ease, background-color 0.3s ease;

    font-family: 'Syne', sans-serif;
    font-weight: 750;
}

.btn-cadastro:hover {
    background-color: transparent;
    transform: scale(1.1);
}

.button-login {
    background-color: transparent;
    border-radius: 10px;
    padding: 10px 36px;
    border: 2px solid #A26300;
    color: #A26300;
    transition: 0.2s ease-in-out;
    text-decoration: none;
}

.button-login:hover {
    background-color: #A26300;
    color: #FFFFFF;
    border: 1px solid #A26300;
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    
}

.navigation-buttons ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    gap: 10px;

    height: fit-content;

    padding: 10px 0;
}

.navigation-buttons ul a {
    border: 2px solid #4D4D4D;
    border-radius: 6px;

    padding: 10px 20px;

    height: 30px;
    width: fit-content;

    font-family: 'Syne', sans-serif;
    font-size: 18px;
    font-weight: 700;
    /* font-style: italic; */

    transition: 0.3s ease-in-out;

}

.navigation-buttons ul a:hover {
    transform: scale(1.1);

    background-color: #4D4D4D;
    color: #FFFFFF;
}

#icon-image img {
    height: 140px;
}

.btn-wishlist {
    padding: 10px 18px;
}