

.navbar-div {
    width: 100%;
    height: 8vh;
    border-bottom: 1px solid;

    /* display: flex;
    flex-direction: row;
    align-itens: center; */

    /* justify-content: ; */

    caret-color: transparent;
}

.navbar {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    height: 100%;
    padding: 20px 40px;

    list-style-type: none;
}


section {
    /* height: 92vh; */
    height: fit-content;
    width: 100vw;

    padding: 40px 60px;
    /* margin-bottom: 20px; */
}


.container {
    height: 100%;
    width: 100%;
    /* margin-bottom: 20px; */
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    height: fit-content;

    caret-color: transparent;
}

.header {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 15px;
}

.title {
    display: flex;
    flex-direction: column;

    caret-color: transparent;
}

h1 {
    font-family: 'DM_Serif_Display', sans-serif;
    font-size: 2.8em;
    font-weight: 200;
    line-height: 1.0;
}

h2 {
    font-family: 'DM_Serif_Display', sans-serif;
    font-size: 2.1em;
    font-style: italic;
    font-weight: 200;
    caret-color: transparent;
}

h4 {
    font-size: 1.1em;
}

li {
    list-style-type: none;
    text-decoration: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: white;
}

#h1-span {
    font-style: italic;
}

#h4-span {
    font-weight: bold;
    color: #A26300;
}

.content-container {
   height: 100%;
   width: 100%;
   padding: 20px 0;
}

.main-content {
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 70px;
    align-items: flex-start;
}

.card {
    height: 100%;
    width: 30%;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

#poster-image {
    height: 500px;
    border: 2px solid white;
    border-radius: 12px;
}

.main-card-information {
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.card-information {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    line-height: 1.4;

    caret-color: transparent;
}

.card-content {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    width: 60%;
}

.content-header {
    margin-bottom: 20px;
    caret-color: transparent;
}

.card-categories {
    display: flex;
    flex-direction: row;
    
    gap: 20px;
}

.card-categories div {
    padding: 10px 30px;
    margin-top: 5px;
    margin-bottom: 15px;

    border: 2px solid white;
    border-radius: 60px;

    
}

.stars-classification img {
    height: 30px;
}

.content-text {
    display: flex;
    flex-direction: column;

    gap: 14px;
    padding: 20px 20px;
    border: 1px solid #4D4D4D;
    border-radius: 8px;

    width: 110%;
}

.content-text textarea {
    font-size: 1.2em;

    height: 32vh;

    color: white;
    background-color: transparent;
    border: none;
    resize: none;
}

textarea {
    font-family: Syne, DM_Mono, sans-serif;
    outline: none;
}

.caraceteres-count {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.content-text span {
    font-size: 1.1em;
    color: #A26300;
}

