.modal-container {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 50%;
    color: black;
}

.active {
    display: flex;
}

.active .modal {
    animation: modal .4s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
