.modal-container {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
}

.modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    width: 50%;
    color: rgb(255, 255, 255);
    border: 1px solid #1C1C22;
    border-radius: 10px;
    background-color: #141418;
}

.active {
    display: flex;
}

.active .modal {
    animation: modal .4s;
}

.section-inactive {
    pointer-events: none;
    cursor: default;
    overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Preto com 50% de opacidade */
  z-index: 1; /* Garante que o overlay fique atrás do texto */
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}
